<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tarefas</ion-title>
    <ion-button color="light" slot="end" class="ion-margin" fill="outline" (click)="onLogout()"> Logout </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nova Tarefa</ion-card-title>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Minhas Tarefas</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content></ion-card-content>
    </ion-card>

</ion-content>
